<p-toast position="bottom-center" />

<div class="mt-30 w-full flex justify-center">
  <img [src]="logoPath" width="300" alt="Resona logo" style="filter: invert(100%)" />
</div>

<div class="w-full h-100 flex items-center justify-center p-4">
  <p-card [style]="{ background: 'none' }" class="w-full max-w-sm">
    <form class="space-y-6 mt-3">
            <div class="flex flex-col gap-1">
        <label pLabel for="name">Name</label>
        <input [formField]="registerForm.name" pInputText id="name" type="text" />
        @if (registerForm.name().invalid() && registerForm.name().touched()) {
          @for (error of registerForm.name().errors(); track error) {
            <p class="text-sm font-normal text-body opacity-70">{{ error.message }}</p>
          }
        }
      </div>
      
      <div class="flex flex-col gap-1">
        <label pLabel for="email">Email</label>
        <input [formField]="registerForm.email" pInputText id="email" type="email" />
        @if (registerForm.email().invalid() && registerForm.email().touched()) {
          @for (error of registerForm.email().errors(); track error) {
            <p class="text-sm font-normal text-body opacity-70">{{ error.message }}</p>
          }
        }
      </div>

      <div class="flex flex-col gap-1">
        <div class="flex items-center justify-between">
          <label pLabel for="password">Password</label>
        </div>
        <input [formField]="registerForm.password" pInputText id="password" type="password" />
        @if (registerForm.password().invalid() && registerForm.password().touched()) {
          @for (error of registerForm.password().errors(); track error) {
            <p class="text-sm font-normal text-body opacity-70">{{ error.message }}</p>
          }
        }
      </div>
    </form>

    <ng-template #footer>
      <div class="flex flex-col gap-4">
        <button
          (click)="submit()"
          [disabled]="
            registerForm.name().errors().length > 0 ||
            registerForm.email().errors().length > 0 ||
            registerForm.password().errors().length > 0 ||
            isSubmiting
          "
          type="button"
          pButton
          class="w-full"
        >
          Register
        </button>

        <div class="mt-2 text-center text-surface-500 text-sm">
          Already have an account?
          <button (click)="this.router.navigate(['/login'])" type="button" pButton variant="link" class="p-0">Login</button>
        </div>
      </div>
    </ng-template>
  </p-card>
</div>
