<p-toast position="bottom-center" />

<div class="mt-30 w-full flex justify-center">
  <img [src]="logoPath" width="300" alt="Resona logo" style="filter: invert(100%)" />
</div>

<div class="w-full h-100 flex items-center justify-center p-4">
  <p-card [style]="{ background: 'none' }" class="w-full max-w-sm">
    <form class="space-y-6 mt-3">
      <div class="flex flex-col gap-1">
        <label pLabel for="email">Email</label>
        <input [formField]="loginForm.email" pInputText id="email" type="email" />
        @if (loginForm.email().invalid() && loginForm.email().touched()) {
          @for (error of loginForm.email().errors(); track error) {
            <p class="text-sm font-normal text-body opacity-70">{{ error.message }}</p>
          }
        }
      </div>

      <div class="flex flex-col gap-1">
        <div class="flex items-center justify-between">
          <label pLabel for="password">Password</label>
          <button disabled type="button" pButton variant="link" class="p-0">Forgot password?</button>
        </div>

        <input [formField]="loginForm.password" pInputText id="password" type="password" />
        @if (loginForm.password().invalid() && loginForm.password().touched()) {
          @for (error of loginForm.password().errors(); track error) {
            <p class="text-sm font-normal text-body opacity-70">{{ error.message }}</p>
          }
        }
      </div>
    </form>

    <ng-template #footer>
      <div class="flex flex-col gap-4">
        <button
          (click)="submit()"
          [disabled]="
            loginForm.email().errors().length > 0 || loginForm.password().errors().length > 0 ||
            isSubmiting
          "
          type="button"
          pButton
          class="w-full"
        >
          Login
        </button>

        <button disabled type="button" pButton severity="secondary" [outlined]="true" class="w-full">
          Login with Google
        </button>

        <div class="mt-2 text-center text-surface-500 text-sm">
          Don't have an account?
          <button (click)="this.router.navigate(['/register'])" type="button" pButton variant="link" class="p-0">Sign up</button>
        </div>
      </div>
    </ng-template>
  </p-card>
</div>
